#map {
    max-width: 100%;
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: grey;
}

.search-input {
    text-align: center;
    margin: 8px;
}

.search-input-label {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.register-input-label {
    float: left;
}

.right-md {
    margin-right: 0px;
}
